<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CirculationImageDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04C3FBDA1CF30EE700DAB987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3FBF31CF30EE700DAB987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3FBFE1CF30EE700DAB987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
